/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*** HOME PAGE ***/
/*** This is the begining of my styles ***/

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    line-height: 1.2rem;
}

/** Styles for the HEADER **/
header {
    margin: auto;
    width: 100%;
    background-color: #3c3b3a;
}

.header-wrapper {
    width: 100%;
    margin: auto;
    text-align: center;
    display: inline-block;
}

.arc-logo img {
    width: 20%;
    margin: auto;
}

div nav ul {
    cursor: pointer;
}

div nav ul li {
    padding: 10px 0px; /* top+bottom left+right*/
    width: 100%;
    margin: auto;
}

div nav ul li a {
    width: 100%;
    color: #f2f2f2;
    display: inline-block;
}

/* This is the style for the events on the hyperlinks */
div nav ul li a:link,
div nav ul li a:visited {
    color: #ffffff;
    text-decoration: none;
}

div nav ul li:hover,
div nav ul li:active {
    color: #ffffff;
    background-color: #505050;
    transition: all .5s ease-out;
}

.active-page {
    font-weight: 700;
}

/** Styles for the SECTION **/
.content-wrapper {
    width: 100%;
    margin: auto;
}

.first-container {
    width: 80%;
    margin: auto;
}

.first-content h1 {
    margin: 30px 0px 15px 0px; /* top right bottom left */
    font-size: 2.8rem;
    line-height: 3rem;
}

.first-content p {
    font-size: 1.5rem;
    line-height: 2.3rem;
    font-weight: 500;
    margin-bottom: 20px;
}

.discover-image {
    width: 100%;
    padding: 30px 0px 10px 0px; /* top right bottom left */
}

.athletic-icons {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    padding: 10px 0px;
}

.athletic-icons img {
    padding: 10px 20px;
}

.athletic-icons p {
    font-size: 1.1rem;
    color: #26A682;
}

.first-container .button {
    width: 100%;
    height: 50px;
    margin: 10px auto;
    border-radius: 25px;
    background-color: #26A682;
    /* This will align the text to the center of the button */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-container .button h2 {
    font-size: 1.8rem;
    font-weight: 600;
    color: #ffffff;
}

/* This line will hide the scroll-down call to action from the mobile viewport */
.scroll-down {
    display: none;
}

.second-container {
    background-color: #f2f2f2;
    width: 100%;
    margin: auto;
}

.second-content {
    width: 80%;
    margin: auto;
}

.second-container img {
    width: 100%;
    margin: auto;
}

.second-content h1 {
    font-size: 2rem;
    font-weight: 700;
    font-style: italic;
    margin: 30px 0px 15px 0px; /* top right bottom left */
}

.second-content h2 {
    font-size: 1.2rem;
    color: #26A682;
    margin-bottom: 10px;
}

.second-content p {
    font-size: 1.3rem;
    line-height: 2.4rem;
    font-weight: 500;
}

.second-container .button {
    width: 40%;
    height: 45px;
    margin: 10px auto;
    border-radius: 25px;
    background-color: #26A682;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.second-container .button h2 {
    font-size: 1.2rem;
    font-weight: 600;
    color: #ffffff;
    text-align: center;   
}

.third-container {
    width: 100%;
    margin: auto;
    background-color: #3c3b3a;
    color: #ffffff;
}

.third-content {
    width: 80%;
    margin: auto;
}

/* Dijanelle Simon photo */
.third-container {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.third-container img {
    width: 40%;
    margin: 20px auto; /* top+bottom left+right*/
    border: 4px solid #ffffff;
    border-radius: 100%;
}

.third-content h3{
    text-align: center;
    font-size: 1.2rem; 
    line-height: 1.6rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.third-content p {
    font-size: 1.3rem;
    line-height: 2.4rem;
    font-weight: 500;
    margin-bottom: 30px;
}

.fourth-container {
    width: 100%;
    margin: auto;
}

.fourth-content {
    width: 80%;
    margin: auto;
}

.fourth-container img {
    width: 100%;
    margin: auto;
}

.fourth-content h1 {
    font-size: 2rem;
    font-weight: 700;
    font-style: italic;
    margin: 30px 0px 15px 0px; /* top right bottom left */
}

.fourth-content h2 {
    font-size: 1.2rem;
    color: #26A682;
    margin-bottom: 10px;
}

.fourth-content p {
    font-size: 1.3rem;
    line-height: 2.4rem;
    font-weight: 500;
}

.fourth-container .button {
    width: 40%;
    height: 45px;
    margin: 10px auto;
    border-radius: 25px;
    background-color: #26A682;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fourth-container .button h2 {
    font-size: 1.2rem;
    font-weight: 600;
    color: #ffffff;
}

/*** ABOUT PAGE ***/
/** Styles for the ABOUT container **/
.construction-image {
    width: 100%;
    margin: auto;
    padding: 30px 0px 10px 0px; /* top right bottom left */
}

.about-container {
    background-color: #f2f2f2;
    width: 100%;
    margin: auto;
}

.about-banner {
    width: 100%;
    height: 200px;
    margin: auto;
    text-align: center;
    /* The lines below will add the image to the background, and it will be underneath the H1 text */
    background-image: url("images/about_375x200.jpg");
    background-size: cover;
    /* These styles will be added to the image in the selector above */
    background-color: #26A682;
    background-blend-mode: multiply; 
    display: flex;
    justify-content: center;
}

.about-banner h1 {
    font-size: 2.6rem;
    color: #ffffff;
    text-align: center;
    font-weight: 900;
    align-items: center;
    align-self: center;
}

.about-content {
    width: 80%;
    margin: auto;
    background-color: #F2F2F2;
}

.about-content h2 {
    font-size: 2rem;
    font-weight: 700;
    font-style: italic;
    padding: 20px 0px; /* top+bottom left+right */
}

.about-content p {
    font-size: 1.3rem;
    line-height: 2.3rem;
    font-weight: 500;
    padding: 20px 0px; /* top+bottom left+right */
}

/** Styles for the SERVICES container **/
.services-container {
    width: 100%;
    margin: auto;
}

.services-banner {
    width: 100%;
    height: 200px;
    margin: auto;
    text-align: center;
    /* The lines below will add the image to the background, and it will be underneath the H1 text */
    background-image: url("images/services.jpg");
    background-size: cover;
    /* These styles will be added to the image in the selector above */
    background-color: #26A682;
    background-blend-mode: multiply;
    display: flex;
    justify-content: center;
}

.services-banner h1 {
    font-size: 2.6rem;
    color: #ffffff;
    text-align: center;
    font-weight: 900;
    align-items: center;
    align-self: center;
}

.content-box {
    width: 80%; 
    margin: auto; /* top+bottom left+right*/
}

/* This line will add a different background color to an even number of divs inside the Services container */
.zebra-pattern {
    background-color: #F2F2F2;
    width: 100%;
    margin: auto;
}

/* The images will be hidden on the mobile version of the website */
.content-box img {
    display: none;
}

.content-box h2 {
    font-size: 2rem;
    font-weight: 700;
    font-style: italic;
    padding: 20px 0px 10px 0px; /* top right bottom left */
}

.content-box h3 {
    font-size: 1.5rem;
    color: #26A682;
    margin-bottom: 10px;
    padding: 20px 0px 10px 0px; /* top right bottom left */
}

.content-box p {
    font-size: 1.4rem;
    line-height: 2.4rem;
    font-weight: 500;
    padding: 20px 0px 10px 0px; /* top right bottom left */
}

.info {
    width: 100%;
    height: 200px;
    background-color: #3C3B3A;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info .button {
    width: 40%;
    height: 50px;
    margin: 10px auto;
    border-radius: 25px;
    background-color: #26A682;
    /* This will align the text to the center of the button */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info h2 {
    font-size: 1.6rem;
    color: #ffffff;
    font-weight: 600;
    text-align: center;
    padding: 20px auto;
}

.info h3 {
    font-size: 1.4rem;
    color: #ffffff;
    text-align: center;
    padding: 20px auto;
}

/** Styles for the SPONSORS container **/
.sponsors-container {
    width: 100%;
    margin: auto;
}

.sponsors-content {
    width: 80%;
    margin: auto;
    text-align: center;
}

.sponsors-content h1{
    font-size: 3.8rem;
    line-height: 4rem;
    font-weight: 700;
    padding: 20px 0px; /* top+bottom left+right */
}

.sponsors-logos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.algonquin-sa {
    width: 60%;
    margin: 20px auto;
}

.algonquin-college {
    width: 40%;
    margin: 20px auto;
}

.pcl {
    width: 40%;
    margin: 20px auto;
}

.cibc {
    width: 30%;
    margin: 20px auto;
}

/*** CONTACT PAGE ***/
/** Styles for the FORM container **/
.contact-image {
    width: 100%;
    padding: 30px 0px 10px 0px; /* top right bottom left */
}

.form-wrapper {
    width: 100%;
    margin: auto;
}

.form {
    width: 80%;
    height: auto;
    margin: 40px auto;
    padding: 20px;
    background-color: #26A682;
    border-radius: 26px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.15);
}

.form h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: .75rem;
    color: #ffffff;
}

form label {
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
}

.insert-info {
    width: 100%;
    height: 40px;
    margin: 5px 0px;
    background-color: #ffffff;
    border-radius: 20px;
    border: none;
    font-weight: 500;
    justify-content: stretch;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
}

fieldset input[placeholder] {
    padding-left: 20px;
}

fieldset textarea[placeholder] {
    padding-left: 20px;
    padding-top: 10px;
}

.message-box {
    width: 100%;
    height: 100px;
    margin: 5px 0px;
    background-color: #ffffff;
    border-radius: 10px;
    border: none;
    font-weight: 500;
    justify-content: stretch;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
}

.submit-button {
    background-color: #3C3B3A;
    width: 100%;
    color: #f2f2f2;
    padding: 10px 20px;
    margin: 20px auto;
    border-radius: 24px;
    border: none;
    /* This lines below will change the font styles on the button */
    font-weight: 700;
    font-size: 1.8rem;
    cursor: pointer;
}

/* The following lines will be responsible to add the hover effect to the button */
.submit-button:link,
.submit-button:visited {
    color: #f2f2f2;
    background-color: #3C3B3A;
}

.submit-button:active,
.submit-button:hover {
    color: #ffffff;
    background-color: #505050;
}

/* This line of styles will give some space between the fieldsets of the form */
.form-wrapper fieldset {
    padding: 4px 0px;
}

/** Styles for the LOCATION container **/
.location-container {
    width: 100%;
    margin: auto;
}

.location-content {
    width: 80%;
    margin: auto;
}

.location-content h1 {
    font-size: 2rem;
    font-weight: 700;
    margin: 30px 0px 15px 0px; /* top right bottom left */
}

.location-content h2 {
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.6rem;
    margin-bottom: 10px;
}

.location-content p {
    font-size: 1rem;
    line-height: 2.8rem;
    font-weight: 500;
}

/*** Styles for the Footer container ***/
footer {
    margin: auto;
    width: 100%;
    height: 125px;
    background-color: #3c3b3a;
    text-align: center;
    color: #ffffff;
}

.footer-wrapper {
    padding: auto 20px;
    margin: auto 120px;
}

.footer-wrapper p {
    font-size: 1.5rem;
    padding: 20px 0px;
}

.social-media  {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-media img {
    margin: auto 10px;
}

.social-media a {
    cursor: pointer;
}

.button-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    background-color: #3c3b3a;
    border-radius: 5px;
    padding: 5px;
}

.button-top img {
    width: 20px;
    height: 20px;
}

.button-top p {
    font-size: .7rem;
    color: #F2F2F2;
}

/*** BREAKPOINTS ***/
/** TABLET VIEWPORT **/
@media (min-width: 768px) {
    /** HOME PAGE **/
    .header-wrapper {
        width: 100%;
        color: #f2f2f2;
        display: inline-block;
    }

    .header-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between
    }

    .nav-wrapper {
        margin-right: 80px; 
        text-align: center;
    }

    nav ul {
        display: flex;
        
    }
    
    nav ul li {
        width: auto;
        margin: auto;
    }

    nav ul li a {
        display: inline-block;
        padding: 10px;
    }

    .arc-logo {
        margin-left: 80px;
    }

    .arc-logo img {
        width: 50px;
    }

    .first-content h1 {
        margin: 30px 0px 15px 0px; /* top right bottom left */
        font-size: 4.4rem;
        line-height: 4.3rem;
        font-weight: 700;
    }
    
    .first-content p {
        font-size: 1.5rem;
        line-height: 2.4rem;
        font-weight: 500;
        margin-bottom: 20px;
    }

    .discover-image {
        width: 50%;
        margin: auto;
        display: flex;
        justify-content: center;
        padding: 30px 0px 10px 0px; /* top right bottom left */
    }

    .athletic-icons {
        padding: 10px;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .first-container .button {
        width: 50%;
    }

    /* Now it's okay to reveal the scroll-down call to action */
    .scroll-down {
        display: grid;
        flex-direction: row;
        justify-content: center;
        padding: 10px;
        text-align: center;
        /*** CSS Animation for the "scroll down" event ***/
        
    }

    .scroll-down img {
        transform: rotate(180deg); /* This will make the image rotate 180 degrees */
        width: 25px;
        height: 25px;
    }

    .scroll-down p {
        font-size: 1rem;
    }

    .third-container {
        display: grid;
        grid-template-columns: 40% 60%;
    }

    .third-container img {
        width: 30%;
        border: 4px solid #ffffff;
        border-radius: 100%;
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }

    .third-container h3{
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }

    .third-container p {
        grid-row: 1 / span 4;
        grid-column: 1 / span 4;
    }

    .fourth-container {
        width: 100%;
        margin: auto;
    }

    /** ABOUT PAGE **/
    .construction-image {
        width: 80%;
        margin: auto;
        padding: 30px 0px 10px 0px; /* top right bottom left */
    }

    .about-banner {
        background-repeat: no-repeat;
        background-size: 100% auto; /* width x height */
    }

    .about-banner picture {
        transform: translateY(200px);
    }

    .services-container {
        width: 100%;
        margin: auto;
    }

    /* Now it's okay to reveal these images */
    .content-box img {
        display: inline-block;
        width: 100%;
    }

    /* .content-box {
        display: grid;
        grid-template-columns: 1fr 1fr;
    } */

    .info {
        height: 75px;
    }

}

/** DESKTOP VIEWPORT **/
@media (min-width: 1024px) {
    /* HOME PAGE*/
    .discover-image {
        width: 40%;
    }

    .athletic-icons {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .scroll-down img {
        transform: rotate(180deg); /* This will make the image rotate 180 degrees */
        width: 50px;
        height: 50px;
    }

    .scroll-down p {
        font-size: 1rem;
    }

    .second-content img {
        width: 25%;
    }

    .third-container {
        width: 100%;
        margin: auto;
        background-color: #3c3b3a;
        color: #ffffff;
        padding: 50px;
        /* Flexbox will organize the content of this container in rows */
        display: flex;
        flex-direction: row;
    } 

    .third-container img {
        width: 8%;
        border-radius: 70px;
    }

    .info {
        height: 100px;
    }

    .fourth-content img {
        width: 25%;
    } 

    div .button {
        background-color: #26A682;
        border-radius: 20px;
        width: 10%;
        height: 30px;
        color: #ffffff; 
        /* This will align the text to the center of the button */
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* ABOUT PAGE */
    .about-content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 20px auto;
        padding: 10px 5px;
    }

    .about-content h2 {
        font-size: 2.2rem;
    }

    .about-content p {
        font-size: 1rem;
        line-height: 1.7rem;
        padding: 10px;
    }

    .sponsors-content h1 {
        font-size: 4rem;
    }

    .sponsors-logos {
        display: flex;
        flex-direction: row;
    }

    .algonquin-sa {
        width: 30%;
        margin: 20px auto;
    }
    
    .algonquin-college {
        width: 15%;
        margin: 20px auto;
    }
    
    .pcl {
        width: 15%;
        margin: 20px auto;
    }
    
    .cibc {
        width: 10%;
        margin: 20px auto;
    }
    
    /* CONTACT PAGE */
    .content-wrapper {
        display: grid;
    }
    .contact-image {
        width: 30%;
    }

    .location-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .location-map {
        display: grid;
        justify-content: stretch;
        align-items: center;
        margin-right: 140px;
    }
}