/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*** This is the begining of my styles ***/

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    line-height: 1.2rem;
}

/** Styles for the Header container **/
header {
    margin: auto;
    width: 100%;
    height: 75px;
}

div nav {
    background-color: #3c3b3a;
    /* Flexbox will align the content to the end of the container. The right side of the browser */
    display: flex;
    justify-content: flex-end;
}

div nav ul li {
    background-color: #3c3b3a;
    color: #f2f2f2;
    display: inline-block;
    margin-right: 139px;
}

/** Styles for the Section container **/
section {
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.main-content {

}

.second-content {
    background-color: #f2f2f2;
}

.second-content img {
    width: 25%;
}

.third-content {
    background-color: #3c3b3a;
    color: #ffffff;
    padding: 50px;
    /* Flexbox will organize the content of this container in rows */
    display: flex;
    flex-direction: row;
}
.third-content img {
    width: 8%;
    border-radius: 70px;
}

.fourth-content img {
    width: 25%;
}

/** Styles for the Footer container **/
footer {
    margin: auto;
    width: 100%;
    height: 125px;
    background-color: #3c3b3a;
}