html {
    font-family: 'Open Sans', sans-serif;
    background-color: #F2F2F2;
    color: #847F8C;
    box-sizing: border-box;
}

body {
    width: 100%;
    margin: auto;
}

section {
    width: 80%;
    margin: auto;
}

header,
footer,
button {
    background-color: #9D80CC;
}

/**** MOBILE FIRST ****/

.nav-menu {
    display: none;
    /* This will hide the nav meny in the mobile viewport */
}

.masterhead-banner {
    display: none;
    /* This will hide the banners in the mobile viewport */
}

.logo img {
    width: 171px;
    height: 45px;
    padding: 10px 0px 10px 40px;
    margin: auto;
}

/* Menu for mobile viewport */
.mobile-menu #myLinks {
    display: none;
    overflow: hidden;
    position: relative;
}

.mobile-menu a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    display: block;
}

#myLinks a {
    text-align: center;
    border-bottom: 1px solid #E3E3E3;
    padding: 15px;
}

.mobile-menu a.icon {
    display: block;
    position: absolute;
    right: 40px;
    top: 20px;
}

.icon img {
    width: 27px;
    height: 27px;
    color: #ffffff;
}
/* There's no :hover in this menu because it's a mobile version */


/* Class of Active to show the User in which page he/she is */
.active {
    font-weight: bolder;
}

/*** Section ***/
section.content-home h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    text-align: center;
}

section.content-home h2,
section.content-home p {
    font-family: 'Open sans', sans-serif;
    font-size: 1rem;
    font-weight: normal;
    text-align: center;
}

/** Cards **/
.cards {
    width: 100%;
    margin: auto;
}

.cards img {
    width: 80px;
    height: 80px;
}

.card-design,
.card-web,
.card-photo {
    background-color: #F1E8FF;
    width: 100%;
    height: 100px;
    margin-bottom: 46px;
    display: flex;
}

.cards .btn {
    justify-content: flex-end;
}

.cards ul {
    display: none;
    /* This will hide the description on each card in the mobile viewport */
}

/* This text will appear only in the mobile viewport */
.cards .text4mobile {
    font-size: .8rem;
    font-weight: 600;
    letter-spacing: .05rem;
}

/*** Footer ***/

footer {
    color: #ffffff;
    width: 100%;
    margin: auto;
    font-size: .8rem;
}

.footer-container {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.social-media,
.nav-footer {
    display: none;
}

.copyright {
    text-align: center;
}

/** Buttons **/

.btn {
    width: 100px;
    height: 30px;
    background-color: #9D80CC;
    border-radius: 5px;
    text-align: center;
}

.btn a {
    text-decoration: none;
    color: #ffffff;
    font-size: .6rem;
    font-weight: 600;
}

/**** CONTENT PAGE ****/

.content {
    width: 100%;
    margin: auto;
    justify-content: center;
}

section.content h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.1rem;
    font-weight: 700;
}

section.content h2,
section.content p {
    font-family: 'Open sans', sans-serif;
    font-size: 1rem;
    font-weight: normal;
}

.content-text {
    display: none;
    /* This will hide the description on each card in the mobile viewport */
}

/* This text will appear only in the mobile viewport */
.content .text4mobile {
    font-size: 1rem;
    font-weight: normal;
}

.content-design,
.content-web,
.content-photo {
    width: 80%;
    margin: auto;
    padding-bottom: 30px;
}

.content img {
    width: 100%;
}

.content .btn {
    width: 100%;
}

.content .btn a {
    font-size: .9rem;
    font-weight: 700;
    align-self: center;
}


/**** ABOUT PAGE ****/



/*** Media Queries ***/

/** TABLET - FIRST BREAKPOINT**/
@media (min-width: 800px) {
    .mobile-menu #myLinks .icon {
        display: none;
    }

    .nav-menu {
        display: inline;
    }

    .icon img {
        display: none; /* This will hide the Bars icon */
    }

    header {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    div nav ul {
        display: flex;
        justify-content: space-around;
        list-style: none;
    }

    div nav ul li a {
        color: #ffffff;
        text-decoration: none;
        cursor: pointer;
    }

    .masterhead-banner {
        display: inline-flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100%;
        margin: auto;
    }

    .banner01 img {
        height: 60%;
        width: auto;
        clip-path: polygon(0 0, 100% 0%, 50% 100%, 0% 100%);
        /* Reference: https://bennettfeely.com/clippy/ */
    }

    .banner02 img {
        height: 60%;
        width: auto;
        clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
        /* Reference: https://bennettfeely.com/clippy/ */
    }

    .banner03 img {
        height: 60%;
        width: auto;
        clip-path: polygon(50% 0, 100% 0%, 100% 100%, 0% 100%);
        /* Reference: https://bennettfeely.com/clippy/ */
    }

    section.content-home h1 {
        font-size: 1.6rem;
    }

    section.content-home h2,
    section.content-home p {
        font-size: 1.3rem;
    }

    .cards ul,
    .content-text {
        display: inline-block;
        text-align: left;
    }
    
    .cards .text4mobile,
    .content .text4mobile {
        display: none; /* This will hide the description on each card in the mobile viewport */
    }

    .content .btn {
        width: 20%;
        float: right;
    }
    
    .content .btn a {
        font-size: .9rem;
        font-weight: 700;
        text-align: center;
        align-self: center;
    }

}

/** DESKTOP - SECOND BREAKPOINT **/
@media (min-width: 1000px) {
    .mobile-menu #myLinks .icon {
        display: none;
    }

    .nav-menu {
        display: inline;
    }

    header {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    div nav ul {
        display: flex;
        justify-content: space-around;
        list-style: none;
    }

    div nav ul li a {
        color: #ffffff;
        text-decoration: none;
        cursor: pointer;
    }

    section.content-home h1 {
        font-size: 2.5rem;
    }

    section.content-home h2,
    section.content-home p {
        font-size: 2rem;
    }

    .cards {
        width: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .card-design,
    .card-web,
    .card-photo {
        background-color: #F1E8FF;
        width: 300px;
        height: 500px;
        margin: 0px 10px 50px 10px;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .cards ul li {
        line-height: 2.1rem;
    }

    .cards img {
        width: 50%;
        height: auto;
    }

    .cards .btn {
        width: 80%;
        font-size: 1rem;
    }

    .content-box01,
    .content-box02,
    .content-box03 {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-gap: 20px;
    }

    .content .btn {
        width: 50%;
    }
    
    .content .btn a {
        font-size: .9rem;
        font-weight: 700;
        text-align: center;
        align-self: center;
    }

}