/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*** This is the beginning of my CSS ***/

* {
    box-sizing: border-box;
}

body {
    background-color: #F7F7FF;
    width: 100%;
    margin: auto;
    /* This line is to import the font Monserrat */
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}

.container {
    display: block;
    margin: auto;
    width: 80%;
}

header img {
    height: 80px;
    width: auto;
    margin-top: 10px;
}

/** Styles for the Main section of the website **/
main {
    margin: 20px auto;
}

main h1 {
    font-size: 4.6rem;
    line-height: 5.5rem;
    font-weight: 700;
    height: auto;
    margin: 0px auto;
}

main p {
    font-size: 1.6rem;
    line-height: 2.2rem;
    margin: auto;
}

main img {
    /* width: 80%; */
    height: auto;
    display: block;
    margin: 30px auto;
}

/** Styles for the Form of the website **/
.form-container {
    height: auto;
    margin: 40px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 26px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.15);
}

.form-container h2 {
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: .75rem;
}

.form-container p {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: .8rem;
    margin: auto 0px;
}

form {
    width: 100%;
}

.insert-info {
    width: 100%;
    height: 40px;
    padding-left: 10px;
    margin: 5px 0px;
    background-color: #F4F4F5;
    border-radius: 4px;
    border: none;
    font-weight: 500;
    justify-content: stretch;
}

.button-main {
    background-color: #57EEAB;
    width: 100%;
    color: #ffffff;
    padding: 10px 20px;
    margin: 20px auto;
    border-radius: 12px;
    border: none;
    /* This lines below will change the font styles on the button */
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    color: #333131;
}

/* The following lines will be responsible to add the hover effect to the button */
.button-main:link,
.button-main:visited {
    background-color: rgb(71, 199, 142);
}

.button-main:active,
.button-main:hover {
    background-color: rgb(37, 223, 139);
    color: #FFFFFF;
}

/* This line bellow will target the A tag inside the P tag */
form a {
    color: #FF8480;
    text-decoration: none;
}

/* This line of styles will give some space between the fieldsets of the form */
.form-container fieldset,
footer fieldset {
    padding: 2px 0px;
}

footer {
    margin: auto;
    width: 100%;
    height: auto;
    padding-bottom: 20px;
    background-color: #FFFD8C;
}

footer p {
    font-size: 1.1rem;
    padding: 10px 0px;
    line-height: 1.5rem;
}

/* The nth-child will target only the first P tag on the Footer container */
footer p:nth-child(1) {
    font-weight: 700;
}


footer form {
    display: flex;
    flex-flow: row wrap;
}

footer input {
    width: 100%;
    height: 40px;
    padding-left: 10px;
    margin: auto;
    background-color: #F4F4F5;
    border-radius: 4px;
    border: none;
    font-weight: 500;
}

/* Flex-grow will make the footer fieldsets to organize on the same row */
.info-hours {
    flex-grow: 1;
    width: 20%;
    margin: auto;
}

.info-city {
    flex-grow: 4;
    width: 80%;
    padding-left: 10px;
    margin: auto;
}

.button-footer {
    background-color: #FF8480;
    color: #ffffff;
    padding: 10px 80px;
    width: 100%;
    margin: 15px auto;
    border-radius: 12px;
    border: none;
    /* This lines below will change the font styles on the button */
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
}

/* The following lines will be responsible to add the hover effect to the button */
.button-footer:link,
.button-footer:visited {
    background-color:  rgb(226, 115, 111);
}

.button-footer:active,
.button-footer:hover {
    background-color:  rgb(247, 105, 100);
    color: #FFFFFF;
}

.social-media-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/*** Media Queries ***/

/** First Breakpoint - Tablet viewport **/
@media (min-width: 768px) {
    main img {
        width: 70%;
    }

    footer form {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .button-footer {
        width: 50%;
        margin-left: 20px;
        padding: 0px;
    }
}
@media (min-width: 1024px) {
    main {
        display: flex;
        flex-flow: row;
        /* Now the image was re-arranged to the back of everything else */
        background-image: url(images/bg-image/scooter.svg);
        background-repeat: no-repeat;
        background-position: center center;
    }

    main img {
        display: none;
    }

    .main-txt{
        width: 536px;
    }
    
    .form-container {
        width: 535px;
        margin: 40px 0 40px auto;
    }

    .container {
        width: 90%;
    }

    footer .container {
        display: flex;
        flex-flow: row;
    }
    
    .footer-info {
        min-width: 615px;
    }
    
    .social-media-container{
        justify-self: end;
        align-items: center;
        /* This line will align the social media icons to the right of the container*/
        justify-content: flex-end;
    } 
    
    .facebook,
    .instagram,
    .twitter,
    .linkedin {
        padding: 10px;
    }
}